<!--========================== CONTACTS ==========================-->
<section id="contact"> 
	<div class="contact-header">{{ 'katanastudios.title.contacto'|trans }}</div>
	<span></span>

	<!-- Start Container -->
	<div class="container">
		<!-- Contact Form -->
        {{ form_start(form) }}
            <div class="eight columns">
                {{ form_widget(form.Nombre) }}
                {{ form_widget(form.Mail) }}
                {{ form_widget(form.Asunto) }}
            </div>

            <div class="eight columns">
                {{ form_widget(form.Mensaje) }}
            </div>

            <div class="sixteen columns">
                {{ form_widget(form.enviar) }}
            </div>
        {{ form_end(form) }}
		<!-- End Contact Form -->

		<div class="row"></div>

		<!-- Social Icons -->   
		<div class="social-icons">
			<a href="https://www.facebook.com/derketzer" class="tooltip" title="Facebook" target="_blank">
				<i class="social-icon fa fa-facebook fa-2x"></i>
			</a>
			<a href="https://www.twitter.com/der_ketzer" class="tooltip" title="Twitter" target="_blank">
				<i class="social-icon fa fa-twitter fa-2x"></i>
			</a>
			<a href="https://plus.google.com/u/0/+DerKetzerd" class="tooltip" title="Google" target="_blank">
				<i class="social-icon fa fa-google-plus fa-2x"></i>
			</a>
			<a href="http://www.linkedin.com/profile/view?id=107371911" class="tooltip" title="Linkedin" target="_blank">
				<i class="social-icon fa fa-linkedin fa-2x"></i>
			</a>
			<a href="http://www.der-ketzer.com/blog" class="tooltip" title="Blog" target="_blank">
				<i class="social-icon fa fa-book fa-2x"></i>
			</a>
		</div><!-- End Social Icons -->

	</div>
	<!-- End Container -->
</section>
<!--========================== END CONTACTS ==========================-->