<!--========================== PORTFOLIO ==========================-->
<section id="portfolio">
<h2>Portfolio</h2>
<div class="title">
<div class="title-icon">
<i class="fa fa-camera fa-2x"></i>
</div>
</div>

<!-- Filter Menu -->
<div class="portfolioFilter">
<a class="filter" data-filter="webdesign">Webdesign</a>
<a class="filter" data-filter="photography">Photography</a>
<a class="filter" data-filter="all">All</a>
<a class="filter" data-filter="branding">Branding</a>               
<a class="filter" data-filter="development">Development</a>
</div>
<!-- Filter Menu -->

<!-- Portfolio Images -->
<ul id="Grid" class="portfolioContainer">

<!-- Project 1 -->
<li class="mix webdesign" data-cat="webdesign">
<div class="project project-view">
<img src="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" alt="image">
<div class="project-mask">
<h3>Project Title</h3>
<h4>Webdesign</h4>
<a href="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" data-lightbox="image-1" title="Project Title 1"><i class="fa fa-link fa-2x"></i></a>
</div>
</div>
</li><!-- End Project 1 -->

<!-- Project 2 -->
<li class="mix webdesign" data-cat="webdesign"> 
<div class="project project-view">
<img src="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" alt="image">
<div class="project-mask">
<h3>Project Title</h3>
<h4>Webdesign</h4>
<a href="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" data-lightbox="image-2" title="Project Title 2"><i class="fa fa-link fa-2x"></i></a>
</div>
</div>
</li><!-- End Project 2 -->

<!-- Project 3 -->
<li class="mix webdesign" data-cat="webdesign"> 
<div class="project project-view">
<img src="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" alt="image">
<div class="project-mask">
<h3>Project Title</h3>
<h4>Webdesign</h4>
<a href="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" data-lightbox="image-3" title="Project Title 3"><i class="fa fa-link fa-2x"></i></a>
</div>
</div>
</li><!-- End Project 3 -->

<!-- Project 4 -->
<li class="mix photography" data-cat="photography">
<div class="project project-view">
<img src="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" alt="image">
<div class="project-mask">
<h3>Project Title</h3>
<h4>Photography</h4>
<a href="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" data-lightbox="image-4" title="Project Title 4"><i class="fa fa-link fa-2x"></i></a>
</div>
</div>
</li><!-- End Project 4 -->

<!-- Project 5 -->
<li class="mix photography" data-cat="photography">
<div class="project project-view">
<img src="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" alt="image">
<div class="project-mask">
<h3>Project Title</h3>
<h4>Photography</h4>
<a href="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" data-lightbox="image-5" title="Project Title 5"><i class="fa fa-link fa-2x"></i></a>
</div>
</div>
</li><!-- End Project 5 -->

<!-- Project 6 -->
<li class="mix photography" data-cat="photography">
<div class="project project-view">
<img src="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" alt="image">
<div class="project-mask">
<h3>Project Title</h3>
<h4>Photography</h4>
<a href="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" data-lightbox="image-6" title="Project Title 6"><i class="fa fa-link fa-2x"></i></a>
</div>
</div>
</li><!-- End Project 6 -->

<!-- Project 7 -->
<li class="mix branding" data-cat="branding">
<div class="project project-view">
<img src="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" alt="image">
<div class="project-mask">
<h3>Project Title</h3>
<h4>Branding</h4>
<a href="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" data-lightbox="image-7" title="Project Title 7"><i class="fa fa-link fa-2x"></i></a>
</div>
</div>
</li><!-- End Project 7 -->

<!-- Project 8 -->
<li class="mix branding" data-cat="branding">
<div class="project project-view">
<img src="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" alt="image">
<div class="project-mask">
<h3>Project Title</h3>
<h4>Branding</h4>
<a href="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" data-lightbox="image-8" title="Project Title 8"><i class="fa fa-link fa-2x"></i></a>
</div>
</div>
</li><!-- End Project 8 -->

<!-- Project 9 -->
<li class="mix branding" data-cat="branding">
<div class="project project-view">
<img src="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" alt="image">
<div class="project-mask">
<h3>Project Title</h3>
<h4>Branding</h4>
<a href="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" data-lightbox="image-9" title="Project Title 9"><i class="fa fa-link fa-2x"></i></a>
</div>
</div>
</li><!-- End Project 9 -->

<!-- Project 10 -->
<li class="mix development" data-cat="development">
<div class="project project-view">
<img src="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" alt="image">
<div class="project-mask">
<h3>Project Title</h3>
<h4>Development</h4>
<a href="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" data-lightbox="image-10" title="Project Title 10"><i class="fa fa-link fa-2x"></i></a>
</div>
</div>
</li><!-- End Project 10 -->

<!-- Project 11 -->
<li class="mix development" data-cat="development">
<div class="project project-view">
<img src="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" alt="image">
<div class="project-mask">
<h3>Project Title</h3>
<h4>Development</h4>
<a href="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" data-lightbox="image-11" title="Project Title 11"><i class="fa fa-link fa-2x"></i></a>
</div>
</div>
</li><!-- End Project 11 -->

<!-- Project 12 -->
<li class="mix development" data-cat="development">
<div class="project project-view">
<img src="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" alt="image">
<div class="project-mask">
<h3>Project Title</h3>
<h4>Development</h4>
<a href="{{ asset('bundles/codemonkeycvwebsite/assets/projects/project.png') }}" data-lightbox="image-12" title="Project Title 12"><i class="fa fa-link fa-2x"></i></a>
</div>
</div>
</li><!-- End Project 12 -->
</ul><!-- End Portfolio Images -->
</section>
<!--========================== END PORTFOLIO ==========================-->

<div class="row"></div>