<!--========================== SKILLS LEVEL ==========================-->   
<section id="skills">
	<h2>{{ 'katanastudios.title.conocimientos'|trans }}</h2>
	<div class="title">
		<div class="title-icon">
			<i class="fa fa-cogs fa-2x"></i>
		</div>
	</div>

    <br />

	<div class="eight columns">
		<!-- Skill 1 -->
		<div class="skillbar clearfix" data-percent="100%">
			<div class="skillbar-title">PHP/MySQL</div>
			<div class="skillbar-bar"></div>
			<div class="skill-bar-percent">> 5 {{ 'katanastudios.title.anos'|trans }}</div>
		</div>
		<!-- End Skill 1 -->

		<!-- Skill 2 -->
		<div class="skillbar clearfix " data-percent="100%">
			<div class="skillbar-title">jQuery</div>
			<div class="skillbar-bar"></div>
            <div class="skill-bar-percent">> 5 {{ 'katanastudios.title.anos'|trans }}</div>
		</div>
		<!-- End Skill 2 -->

		<!-- Skill 3 -->
		<div class="skillbar clearfix " data-percent="40%">
			<div class="skillbar-title">C++/C#</div>
			<div class="skillbar-bar"></div>
			<div class="skill-bar-percent">> 2 {{ 'katanastudios.title.anos'|trans }}</div>
		</div>
		<!-- End Skill 3 -->

		<!-- Skill 7 -->
		<div class="skillbar clearfix " data-percent="100%">
			<div class="skillbar-title">{{ 'katanastudios.title.ingles'|trans }}</div>
			<div class="skillbar-bar"></div>
            <div class="skill-bar-percent">> 5 {{ 'katanastudios.title.anos'|trans }}</div>
		</div>
		<!-- End Skill 7 -->

        <div class="skillbar clearfix " data-percent="40%">
            <div class="skillbar-title">Symfony 2</div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">2 {{ 'katanastudios.title.anos'|trans }}</div>
        </div>
	</div>

	<div class="eight columns">
		<!-- Skill 4 -->
		<div class="skillbar clearfix " data-percent="100%">
			<div class="skillbar-title">{{ 'katanastudios.title.aleman'|trans }}</div>
			<div class="skillbar-bar"></div>
            <div class="skill-bar-percent">> 5 {{ 'katanastudios.title.anos'|trans }}</div>
		</div>
		<!-- End Skill 4 -->

		<!-- Skill 5 -->
		<div class="skillbar clearfix " data-percent="60%">
			<div class="skillbar-title">Linux</div>
			<div class="skillbar-bar"></div>
            <div class="skill-bar-percent">> 5 {{ 'katanastudios.title.anos'|trans }}</div>
		</div>
		<!-- End Skill 5 -->

		<!-- Skill 6 -->
		<div class="skillbar clearfix " data-percent="40%">
			<div class="skillbar-title">Python/Java</div>
			<div class="skillbar-bar"></div>
            <div class="skill-bar-percent">< 2 {{ 'katanastudios.title.anos'|trans }}</div>
		</div>
		<!-- End Skill 6 -->

		<!-- Skill 8 -->
		<div class="skillbar clearfix " data-percent="20%">
			<div class="skillbar-title">Node/NoSQL</div>
			<div class="skillbar-bar"></div>
            <div class="skill-bar-percent">1 {{ 'katanastudios.title.ano'|trans }}</div>
		</div>
		<!-- End Skill 8 -->

        <div class="skillbar clearfix " data-percent="20%">
            <div class="skillbar-title">{{ 'katanastudios.title.espanol'|trans }}</div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">1 {{ 'katanastudios.title.ano'|trans }}</div>
        </div>
	</div>
</section>
<!--========================== END SKILLS LEVEL ==========================-->

<div class="row"></div>