<!-- Start Parallax Slide -->
<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.2">
    <div class="white-overlay"></div>
    <div class="black-overlay"></div>

    <!--========================== SLIDER ==========================-->
    <section id="slider" class="slider flexslider">
        <!-- Navigation -->
        <ul class="navigation">
            <li>
                <a href="#">
                    <i class="home-icon fa fa-bars fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="#about-me" class="tooltip" title="{{ 'katanastudios.title.sobremi'|trans }}">
                    <i class="menu-icon fa fa-thumb-tack fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="#skills" class="tooltip" title="{{ 'katanastudios.title.conocimientos'|trans }}">
                    <i class="menu-icon fa fa-cogs fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="#services" class="tooltip" title="{{ 'katanastudios.title.servicios'|trans }}">
                    <i class="menu-icon fa fa-html5 fa-2x"></i>
                </a>
            </li>
            <!--<li>
                <a href="#portfolio" class="tooltip" title="Proyectos">
                    <i class="menu-icon fa fa-camera fa-2x"></i>
                </a>
            </li>-->
            <li>
                <a href="#experience" class="tooltip" title="{{ 'katanastudios.title.experiencia'|trans }}">
                    <i class="menu-icon fa fa-briefcase fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="#education" class="tooltip" title="{{ 'katanastudios.title.educacion'|trans }}">
                    <i class="menu-icon fa fa-laptop fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="#contact" class="tooltip" title="{{ 'katanastudios.title.contacto'|trans }}">
                    <i class="menu-icon fa fa-envelope-o fa-2x"></i>
                </a>
            </li>
        </ul><!-- End Navigation -->

        <!-- Start Slides -->
        <ul class="slides">
            <!-- Start Slide 1 -->
            <li>
                <div class="heading">
                    <div class="hexagon-top"></div>
                    <div class="hexagon">
                        <h2>{{ 'katanastudios.title.bienvenido'|trans }}</h2>
                        <h1><span>{{ 'katanastudios.title.mi'|trans }}</span> CV</h1>
                    </div>
                    <div class="hexagon-bottom"></div>
                </div>
            </li><!-- End Slide 1 -->

            <!-- Start Slide 2 -->
            <li>
                <div class="heading">
                    <div class="hexagon-top"></div>
                    <div class="hexagon">
                        <h2>{{ 'katanastudios.title.llamo'|trans }}</h2>
                        <h1><span>Adri&aacute;n</span></h1>
                    </div>
                    <div class="hexagon-bottom"></div>
                </div>
            </li><!-- End Slide 2 -->

            <!-- Start Slide 3 -->
            <li>
                <div class="heading">
                    <div class="hexagon-top"></div>
                    <div class="hexagon">
                        <h2>{{ 'katanastudios.title.soy'|trans }}</h2>
                        <h1><span>{{ 'katanastudios.title.desarrollador'|trans }}</span></h1>
                    </div>
                    <div class="hexagon-bottom"></div>
                </div>
            </li><!-- End Slide 3 -->
        </ul><!-- End Slides -->
    </section>
    <!--========================== END SLIDER ==========================-->
</div><!-- End Parallax Slide -->

<div class="row"></div>