{# src/Codemonkey CV/WebsiteBundle/Resources/views/Default/index.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}

	{# Include Slide Top #}
	{{ include('CodemonkeyCVWebsiteBundle:Includes:Top.html.twig') }}

	<!-- Start Container -->
	<div class="container">

		{# Include About Me #}
		{{ include('CodemonkeyCVWebsiteBundle:Includes:About.html.twig') }}

		{# Include Skills #}
		{{ include('CodemonkeyCVWebsiteBundle:Includes:Skills.html.twig') }}
	
		{# Include Services #}
		{{ include('CodemonkeyCVWebsiteBundle:Includes:Services.html.twig') }}
	
		{# Include Portfolio #}
		{#{ include('CodemonkeyCVWebsiteBundle:Includes:Portfolio.html.twig') }#}
		
		{# Include Experience #}
		{{ include('CodemonkeyCVWebsiteBundle:Includes:Experience.html.twig') }}
		
		{# Include Education #}
		{{ include('CodemonkeyCVWebsiteBundle:Includes:Education.html.twig') }}
		
	</div>
	<!-- End Container -->
			
	<div class="row"></div>
			
	{# Include Contact #}
	{{ include('CodemonkeyCVWebsiteBundle:Includes:Contact.html.twig') }}

	<!-- Back To Top Button -->
	<div class="top-icon">
		<a href="#slider" class="tooltip top" title="Back to Top">
			<i class="up-icon fa fa-angle-double-up fa-2x"></i>
		</a>
	</div>
	<!-- End Back To Top Button -->
{% endblock %}